*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

.maroon {
  color: $maroon;
}

.maroon-bg {
  background-color: $maroon;
}

.gold{
  color: $gold;
}

.gold-bg {
  background-color: $gold;
}

.border_color--gold {
  border: 1px solid $gold;
  border-radius: 3px;
}

.mossgreen {
  color: $mossgreen;
}

.mossgreen-bg {
  background-color: $mossgreen;
}

.black {
  color: $black;
}

.white{
  color: $white;
}

.custom-right {
  text-align: right;
}

li.guideline-numbers::before {
  color: $gold;
}



@media only screen and (min-width: 320px) {
  .header {
    img {
      width: 100%;
    }
  }
  section {
    border-left: 5px solid $gold;
    border-right: 5px solid $gold;
  }
  .content-main {
    p {
      width: 100%;
    }
    padding: 0 1rem 2rem 7rem;
  }

  .header-main {
    width: 100%;

    .header-text {
      padding-left: 2rem;
    }
  }

  .divider {
    height: 5px;
  }

  .divider-thin {
    height: 3px
  }
}

@media only screen and (min-width: 768px) {
  section {
    border-left: 10px solid $gold;
    border-right: 10px solid $gold;
  }
}


@media screen and (min-width:320px) and (max-width: 1199px){
  section {
    border-left: 2rem solid $gold;
    border-right: 2rem solid $gold;
  }

  .header-main {
    width: 80%;
    margin-left: auto;

    .header-text {
      padding-left: 0;
    }
  }
}

@media screen and (min-width:1200px) and (max-width: 2100px) {
  section {
    border-left: 5rem solid $gold;
    border-right: 5rem solid $gold;
  }
    
    .content-main {
        p {
        width: 100%;
            }
        
        padding: 0 1rem 2rem 12rem;
    }
}
