*,
*::before,
*::after {
  font-family: 'Dosis', sans-serif;
}

.underline {
  text-decoration: underline;
}

.light {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.regular {
  font-weight: 600;
}

.semibold {
  font-weight: 700;
}

.bold {
  font-weight: 700;
}

//iPhone 5
@media only screen and (min-width: 320px) {


  .header-text {
    font-size: 1.8rem;
  }

  .sub-header {
    font-size: 1.6rem;
  }

  .content-header {
    font-size: 1.3rem;
  }

  li{
    font-size: 1.4rem;
    padding: 1rem 1rem;
  }

  .alt_sub-header {
    font-size: 1.3rem;
  }
  .alt_content-header {
    font-size: 1.1rem;
  }

  .alt_content-p {
    font-size: 1.4rem;
  }

  .label_header-sub_content {
    font-size: 1.4rem;
  }


}

//iPhone 6/7/8
@media only screen and (min-width: 375px) {
  .alt_content-header {
    font-size: 1.3rem;
  }
}

//iPone 6/7/8 Plus
@media only screen and (min-width: 414px) {
  .alt_content-header {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 768px) {
  .header-text {
    font-size: 1.7rem;
  }

  .sub-header {
    font-size: 1.6rem;
  }

  .content-header {
    font-size: 1.4rem;
  }


  .alt_content-header {
    font-size: 1.7rem;
  }
}

@media only screen and (min-width: 992px) {
  .header-text {
    font-size: 1.8rem;
  }

  .sub-header {
    font-size: 1.6rem;
  }

  .content-header {
    font-size: 1.6rem;
  }
    
    li {
    font-size: 1.6rem;
    padding: 1rem 1rem;
  }
}

@media only screen and (min-width: 1024px) {
  .alt_content-header {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 1200px) {
  .header-text {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 1440px) {


  .sub-header {
    font-size: 2rem;
  }

  .content-header {
    font-size: 1.6rem;
  }
  .alt_sub-header {
    font-size: 2rem;
  }
  .alt_content-header {
    font-size: 2.2rem;
  }
}


@media only screen and (min-width: 1920px) {
  .alt_content-header {
    font-size:2.5rem;
  }
}
