*,
*::before,
*::after {
  font-family: 'Dosis', sans-serif;
}

.underline {
  text-decoration: underline;
}

.light {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.regular {
  font-weight: 600;
}

.semibold {
  font-weight: 700;
}

.bold {
  font-weight: 700;
}

//iPhone 5
@media screen and (min-width: 325px) {
  .header-text {
    font-size: 1.8rem;
  }

  .sub-header {
    font-size: 1.6rem;
    font-weight: bold;
  }

  .content-header {
    font-size: 1.3rem;
  }

  li{
    font-size: 1.4rem;
    padding: 1rem 1rem;
  }

  .alt_sub-header {
    font-size: 12pt;
  }
  .alt_content-header {
    font-size: 1.1rem;
  }

  .alt_content-p {
    font-size: 12pt;
  }

  .label_header-sub_content {
    font-size: 1.5rem;
  }
    h1 {
      font-size: 18pt;
    }
}

//iPhone 6/7/8
@media screen and (max-width: 375px) {
  .alt_content-header {
    font-size: 1.3rem;
  }
    
    .alt_content-p {
        font-size: 12pt;
    }
}

//iPhone 6/7/8 Plus
@media screen and (max-width: 767px) {
  .alt_content-header {
    font-size: 1.5rem;
  }
    
    .container-fluid {
      font-size: 12pt;
    }
}

@media screen and (min-width: 768px) {
  .header-text {
    font-size: 1.7rem;
  }

  .sub-header {
    font-size: 1.6rem;
    font-weight: bold;
  }

  .content-header {
    font-size: 1.4rem;
  }


  .alt_content-header {
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 600px) {
  .header-text {
    font-size: 1.8rem;
  }

  .sub-header {
    font-size: 16pt;
    font-weight: bold;
  }

  .content-header {
    font-size: 1.8rem;
  }
    
    li {
    font-size: 2rem;
    padding: 1rem 1rem;
  }
    
    .alt_content-p {
      font-size: 16pt;
    }
    
    h1 {
      font-size: 20pt;
      font-weight: bolder;
    }
}

@media screen and (min-width: 1024px) {
  .alt_content-header {
    font-size: 2rem;
  }
    
  .alt_content-p {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 1200px) {
  .header-text {
    font-size: 3rem;
  }
    
  .alt_content-p {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1440px) {
  .sub-header {
    font-size: 16pt;
    font-weight: bold;
  }

  .content-header {
    font-size: 2rem;
  }
    
  .alt_sub-header {
    font-size: 2rem;
  }
    
  .alt_content-header {
    font-size: 2.2rem;
  }
    
  .alt_content-p {
    font-size: 16pt;
  }
}

@media screen and (min-width: 2100px) {
  .alt_content-header {
    font-size:2.5rem;
  }
    
  .alt_content-p {
    font-size: 18pt;
  }
    
  .sub-header {
    font-size: 18pt;
    font-weight: bold;
    }
    
    h1 {
     font-size: 22pt;
    }
}
