#class-materials {
    padding-top: 50px; 
    
    .saturday__content-main {
        display: flex;
        flex-direction: column;
        width: 300px;
        text-align: center;
        margin: 0 auto;
        padding: 1rem 0rem 0rem 1.5rem;
        
        a {
            margin-bottom: 25px;
        }
    }
    
    .content-main {
        margin-top: 5rem;
    }
}
