#class-materials {
    .saturday__content-main {
        display: flex;
        flex-direction: column;
        width: 305px;
        text-align: center;
        margin: auto;

        text-align: center;
        padding: 3rem 0;
        
        a {
            margin-bottom: 10px;
        }
    }
}
