.email-link {
    color: $maroon;
    font-weight: 500;
}

.form-control:focus {
  border-color: $mossgreen !important;
  box-shadow: 0 0 5px rgba(89, 111, 98, .3) !important;
}

#accordionExample.accordion {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

p.content-header.light.mb-1.mt-1 {
    text-align: center;
}

.card-body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

@media only screen and (min-width: 320px) {
  #accordionExample.accordion {
    .card {
      padding: 0.5rem;

      #collapseOne.collapse.show,
      #collapseTwo.collapse.show,
      #collapseThree.collapse.show {
        .card-body {
          border-left: 1px solid $maroon;
          border-right: 1px solid $maroon;
          border-bottom: 1px solid $maroon;
        }
      }
      .card-header {
        background-color: $gold;
        border: 1px solid $maroon;

        h5{
          button {
            h1 {
              color: $maroon;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width:447px) and (max-width: 1279px) {
    #accordionExample.accordion {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

@media screen and (min-width:387px) and (max-width: 446px) {
    #accordionExample.accordion {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media screen and (min-width:327px) and (max-width: 386px) {
}

@media only screen and (min-width: 1281px) {
  #accordionExample.accordion {
    .card {
      width: 70%;
      margin: auto;
      border: none;
    }
  }
}