@media only screen and (min-width: 320px) {
  #gallery {
    .header-main {
      padding: 3rem 0;
    }

    .gallery-grid {
      .gallery {
        margin: auto;

        .gallery_column {
          text-align: center;
          padding: 2rem 0;

          a {
            cursor: pointer;
          }

        }
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  #gallery {

    .header-main {
      padding: 10rem 0 0 0;
    }

    .gallery-grid {
      padding: 6rem 0 3rem 0;

      .gallery {
        padding: 3rem 0;
        margin: auto;

        .gallery_column {
          text-align: center;

          .gallery-image {
            width: 80%;
          }
        }
      }
    }
  }

}
