#gallery {
    .header-main {
        @media (min-width: 320px) {
            padding: 3rem 0;
        }

        @media (min-width: 1200px) {
            padding: 10rem 0 0 0;
        }
    }
}

#gallery .gallery-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    img {
        object-fit: contain;
        width: 25%;
        padding: 10px;
    }
}


@media (min-width: 700px) and (max-width: 1200px) {
    #gallery .gallery-grid img {
        width: 33%;
    }

}

@media (min-width: 480px) and (max-width: 700px) {
    #gallery .gallery-grid img {
        width: 50%;
    }

}

@media (max-width: 480px) {
    #gallery .gallery-grid img {
        width: 100%;
    }

}
