#gallery {
    .header-main {
        @media (min-width: 320px) {
            padding: 3rem 0;
        }

        @media (min-width: 1200px) {
            padding: 10rem 0 0 0;
        }
    }
}

#gallery .gallery-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    img {
        object-fit: contain;
        width: 25%;
        padding: 10px;
        padding-top: 3rem;
    }
}

.iframe-container {
    position: relative;
    width: 54%;
    padding-bottom: 30%; 
    height: 0;
    
    @media (min-width: 325px) and (max-width: 900px) {
        width: 90%;
        padding-bottom: 50%;
    }
}

.iframe-container iframe{
  position: absolute;
  top: 5rem;
  left: 1rem;
  padding-bottom: 8rem;
  width: 100%;
  height: 100%;
    
    @media (min-width: 325px) and (max-width: 900px) {
        padding-bottom: 3rem;
        top: 1rem;
    }
} 

@media (min-width: 700px) and (max-width: 1200px) {
    #gallery .gallery-grid img {
        width: 33%;
    }
}

@media (min-width: 480px) and (max-width: 700px) {
    #gallery .gallery-grid img {
        width: 50%;
    }
}

@media (max-width: 480px) {
    #gallery .gallery-grid img {
        width: 100%;
    }

}
