#personal-information {
    display: flex;
    flex-wrap: wrap;
    padding-top: 70px;

    .left-section {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .about-sharanya {
            position: relative;
            padding: 100px 100px 70px 100px;

            p {
                font-size: 16pt;
            }

            #top-left-motive {
                position: absolute;
                top: 0;
                left: 0;
                width: 200px;
            }

            #bottom-right-motive {
                position: absolute;
                bottom: 0;
                right: 0;
                width: 200px;
                transform: rotateZ(180deg);
            }
        }

        .contact-info {
            text-align: center;
            padding-bottom: 0;

            > div.row div {
                padding: 15px;
            }
        }
    }

    .right-section > div {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        img {
            width: 90%;
            object-fit: contain;

            @media (min-width: 480px) and (max-width: 990px) {
                width: 50%;
            }
        }
    }
}

#events {
    background-color: $gold;
    position: relative;
    padding-top: auto;
    overflow: hidden;

    .events-container {
        margin: auto;
        position: absolute;
        top: -64rem;

        .events_column {
            padding: 2rem .5rem;
            position: relative;

            .events_image {
                width: 100%;
            }

            .events_leaf_image {
                position: absolute;
                left: 60%;
                top: 60%;
                transform: translate(-50%, -50%);
                width: 70%;
            } 

            h4,
            p {
                margin: 0;
                padding-bottom: .5rem;
            }
        }
    }
}

/* #events {
    .events-container {
        .events_column {
            .events_leaf_image {
                left: 70%;
                width: 55%;
            }
        }
    }
} */

    #dance-information {
        .show_only--S {
            display: none;
        }

        .alternative_content--dance__information {
            .alternative_content--dance__information-p {
                padding: 0.5rem 2rem 0 4.2rem;
            }
        }

        .dance_groups_show_only--S {
            display: none;
        }

        .dance_groups_show_only--L {
            display: block;
            text-align: center;
            position: relative;

            .adavu_text {
                position: absolute;
                z-index: 99;
                left: 50%;
                transform: translate(-50%, -50%);
                top: 29rem;
            }

            .intermediate_text {
                position: absolute;
                z-index: 99;
                left: 50%;
                transform: translate(-50%, -50%);
                top: 52rem;
            }

            .private_text {
                position: absolute;
                z-index: 99;
                left: 50%;
                transform: translate(-50%, -50%);
                top: 75rem;
            }
        }

        .dance_groups_show_only--XL {
            display: none;
        }


        .dance_infobox--text {
            .alt_content--adavu_infobox {
                bottom: 46rem;
                padding: 0 14rem;
            }

            .alt_content--intermediate_infobox {
                padding: 0 14rem;
                bottom: 26rem;
            }

            .alt_content--private_infobox {
                padding: 0 14rem;
                bottom: 2rem;
            }
        }
    }

    #contact-info {
        .contact__info-wrapper {
            .contact__info {

                &-item {
                    display: inline-grid;
                    padding: 2rem;
                }
            }
        }
    }

#events {
    position: relative;
    padding-top: 120rem;
}

.events-container {
    padding-top: 125rem;
}

#about-sharanya {
    .show_only_text--XL {
        .phone_text_XL {
            position: absolute;
            z-index: 999;
            top: 73rem;
            left: 10rem;
        }

        .location_text_XL {
            position: absolute;
            z-index: 999;
            top: 73rem;
            left: 28rem;
        }

        .email_address_text_XL {
            position: absolute;
            z-index: 999;
            top: 73rem;
            left: 81rem;
        }

        .about_sharanya_text_XL {
            top: 13rem;
        }
    }

    .alternative_content--about {
        .alternative_content-p {
            left: 6rem;
            top: 2rem;
        }
    }
}
/*** Extra Styles ***/
.header img {
    width: 100%;
}

.navigation {
    background-color: #982649;
}

h1 {
    font-weight: bold;
    font-size: 20pt;
    color: rgb(152, 38, 73);
}

.text-p {
    font-size: 1.6rem;
}

#about-sharanya {
    overflow: hidden;

}

.info-box-main-heading h3 {
    font-weight: bold;
    font-size: 28pt;
    color: rgb(152, 38, 73);
}

.info-box-main-heading p {
    font-size: 16pt;

}

.dance-info-line {
    height: 5px;
    background-color: #596F62;
}

@media screen and (max-width: 1200px) {
    .text-p {
        margin-left: 0px;
    }
}

/* @media screen and (max-width: 991px) {
    .figure-1-placement img {
        margin-top: 0px !important;
    }

    .info-box-holders {
        position: initial !important;
        left: 0 !important;
    }
    
}


@media screen and (max-width: 767px) {
    .figure-1-placement img {
        margin-top: 0px !important;
        margin-left: 0px !important;
    }

    .motive-section::after {

        right: -74% !important;
    }
}

@media screen and (max-width: 540px) {

    .motive-section::before {
        content: url('master-assets/img/alternative/small_left_motive.png') !important;
        left: -70px !important;
        top: 60px !important;
    }

    .motive-section::after {
        content: url('master-assets/img/alternative/small_right_motive.png') !important;
        top: -60px !important;
    }

    h3,
    h1 {
        font-size: 16px !important;
    }

    .text-p,
    p {
        font-size: 12px !important;
    }
}

.motive-section::before {
    content: url('/master-assets/img/alternative/left-motive.png');
    position: relative;
    z-index: 100000;
    left: -150px;
    top: 160px;
}

.motive-section::after {
    content: url('/master-assets/img/alternative/right-motive.png');
    position: relative;
    z-index: 100000;
    top: -170px;
    right: -90%;
} */

.figure-1-placement img {
    width: 80%;
    margin-top: 340px;
    margin-left: 100px;
}

.section-container {
    position: relative
}

.info-box-holders {
    border: 1px solid gold;
    border-radius: 10px;
    box-shadow: -2px 4px 8px rgba(0, 0, 0, .2);
    position: relative;
    // height: 66rem;
    left: 22px;
    z-index: -2;
    text-align: center;
}

#dance-information .info-box-holders {
    height: auto;
}

#dance-info-group.info-box-holders-inner .info-box {
    display: flex;
    flex-direction: column;

    .info-box-inner {
        flex: 1;
        min-height: initial !important;
    }
}

.info-box .info-box-inner {
    background-color: #9e2929;
    padding: 20px;
    border: 2px solid gold;
    color: #fff;
    min-height: 314px;
    box-sizing: border-box;
    height: 200px;
    font-size: 14pt;
}


.info-box .info-box-inner:before {
    /* content: ""; */
    border-top: 1px solid #9e2929;
    width: 100%;
    padding-bottom: 20px;
    display: block;
    position: relative;
}

.info-box-line {
    border-top: 2px solid #9e2929;
    padding: 15px 0;
    text-align: center;
}

.info-box-line h5 {
    font-size: 24px;
    color: #596f62;
}

.info-box-line p {
    font-size: 24px;
    color: #000000;
}

.image-holder {
    position: relative;
}

.image-holder img {
    max-width: 200%;
}

.container-fluid {
    padding-bottom: 5rem;
}

.image-holder.dance-info-lady img {
    position: absolute;
    top: 72px;
    z-index: 10;
    left: -23px;
}

.dance-info-lady {
    position: absolute;
    top: 110px;
    z-index: 10;
    left: -10vw;
    width: 32vw;
}

.dance-info-lady img {
    width: 420px;
    margin-top: 10rem;
}

#events .events-container {
    top: 0px;
    position: relative;
}

.info-box-inner {
    height: 30rem;
}


.events-container {
    padding-top: 0px
}

.dropdown-menu {
    text-align: center !important;
}

.image-holder.left.decors {
    position: relative;
    top: 5rem;
    left: 5rem;
}

.image-holder.right.decors {
    position: relative;
    top: -14rem;
    left: 75rem;
}

@media screen and (max-width: 812px) {

    .info-box-holders {
        border: none;
        box-shadow: none;
    }

    .image-holder {
        position: relative;
    }

    .image-holder img {
        max-width: 100%
    }

    .image-holder.dance-info-lady img {
        position: relative;
        left: 0;
        top: 0;
    }

    .info-box .info-box-inner {
        height: auto
    }


}

@media screen and (max-width: 991px) {

    .new-mobile-boxes-section {
        //display: block;   
    }

    #dance-information {
        //   display: none;
    }
}




#dance-information {
    display: block;
}

.new-mobile-boxes-section {
    display: none;
}


.line-a {
    background-color: #2b4646;
    height: 6px;
}

.pink-line {

    height: 2px;
    background-color: #ca3953;
}

.middle-part {

    padding-right: 60px;
    padding-left: 60px;
}

.pink-box {
    background-color: #901a1a;
    border: 2px;
    border-color: #ff9d00;
    color: white;
    padding: 25px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 90px;
}

@media screen and (max-width: 991px) {

    .dance-info-lady {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        
        img {
            margin-top: 0;
        }
    }

    #events {
        .events-container {
            .events_column {
                .events_leaf_image {
                        width: 25%;
                        left: 80%;
                }
            }
        }
    }
}

@media screen and (min-width:992px) and (max-width: 1500px) {
    .dance-info-lady {
        top: 136px;
    }

}
