#personal-information {
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;

    .left-section {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
        .about-sharanya {
            position: relative;
            padding: 100px 100px 70px 100px;
            
            #top-left-motive {
                position: absolute;
                top: 0;
                left: 0;
                width: 200px;
                
                @media screen and (max-width: 375px) {
                        width: 160px;
                        top: 3rem;
                }
            } 

           #bottom-right-motive {
                position: absolute;
                bottom: 0;
                right: 0;
                width: 200px;
                transform: rotateZ(180deg);
               
                @media screen and (max-width: 375px) {
                        width: 160px;
                        left: 12rem;
            }
        } 
    }
}
        .contact-info {
            text-align: center;
            padding-bottom: 0;

            > div.row div {
                padding: 15px;
            }
        }

    .right-section > div {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        img {
            width: 70%;
            object-fit: contain;

            @media (min-width: 480px) and (max-width: 990px) {
                width: 50%;
            }
        }
    }

  .nonlink-footer {
            color: $white;
            font-size: 1.4rem;
            font-weight: bold;
            letter-spacing: 1px;
          }

#events {
    background-color: $gold;
    position: relative;
    padding-top: auto;
    overflow: hidden;

    .events-container {
        margin: auto;
        position: absolute;
        top: -64rem;

        .events_column {
            padding: 2rem .5rem;
            position: relative;

            .events_image {
                width: 100%;
            }

            .events_leaf_image {
                position: absolute;
                left: 60%;
                top: 55%;
                transform: translate(-50%, -50%);
                width: 70%;
                opacity: 0.5;
            } 

            h4,
            p {
                padding-bottom: .5rem;
                padding-left: 1rem;
            }
        }
    }
}

    #contact-info {
        .contact__info-wrapper {
            .contact__info {

                &-item {
                    display: inline-grid;
                    padding: 2rem;
                }
            }
        }
    }

/*** Extra Styles ***/
.header img {
    width: 100%;
}

.navigation {
    background-color: $maroon;
}

h1 {
    font-weight: bold;
    color: $maroon;
}

.text-p {
    font-size: 1.6rem;
}

#about-sharanya {
    overflow: hidden;

}

.info-box-main-heading h3 {
    font-weight: bold;
    font-size: 22pt;
    color: $maroon;
}

.dance-info-line {
    height: 5px;
    background-color: $mossgreen;
}

#dance-information {
    display: block;
}

.new-mobile-boxes-section {
    display: none;
}


.line-a {
    background-color: #2b4646;
    height: 6px;
}

.pink-line {

    height: 2px;
    background-color: #ca3953;
}

.middle-part {
    padding-right: 60px;
    padding-left: 60px;
}

.pink-box {
    background-color: #901a1a;
    border: 2px;
    border-color: #ff9d00;
    color: white;
    padding: 25px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 90px;
}

@media screen and (max-width: 1200px) {
    .text-p {
        margin-left: 0px;
    }
}

.figure-1-placement img {
    width: 80%;
    margin-top: 340px;
    margin-left: 100px;
}

.section-container {
    position: relative
}

#dance-info-group {
    @media screen and (max-width: 992px) {
        margin: 0;
        padding: 0;
    }
}
.info-box-holders {
    border: 1px solid $gold;
    border-radius: 10px;
    box-shadow: -2px 4px 8px rgba(0, 0, 0, .2);
    
    @media screen and (min-width: 992px) {
        position: relative;
        left: 22px;
        z-index: -2;
    }
}

#dance-information .info-box-holders {
    height: auto;
}

#dance-info-group.info-box-holders-inner .info-box {
    display: flex;
    flex-direction: column;

    .info-box-inner {
        flex: 1;
        min-height: initial !important;
    }
}

.info-box .info-box-inner {
    background-color: #982649;
    padding: 20px;
    border: 2px solid $gold;
    border-radius: 10px;
    color: #fff;
    min-height: 314px;
    box-sizing: border-box;
    height: auto;
    font-size: 16pt;
}


.info-box .info-box-inner:before {
    border-top: 1px solid #982649;
    width: 100%;
    padding-bottom: 20px;
    display: block;
    position: relative;
}

.info-box-line {
    border-top: 1px solid #982649;
    padding: 15px 0;
    text-align: center;
}

.info-box-line h5 {
    font-size: 18pt;
    color: $mossgreen;
}

.info-box-line p {
    font-size: 20px;
    color: #000000;
}

.image-holder {
    position: relative;
}

.image-holder img {
    max-width: 200%;
}

.container-fluid {
    padding-bottom: 3rem;
}

.image-holder.dance-info-lady img {
    position: absolute;
    top: 72px;
    z-index: 10;
    left: -23px;
}

.dance-info-lady {
    position: absolute;
    top: 110px;
    z-index: 10;
    left: -10vw;
    width: 32vw;
}

.dance-info-lady img {
    width: 420px;
    margin-top: 10rem;
}

#events .events-container {
    top: 0px;
    position: relative;
}

.info-box-inner {
    height: 30rem;
}


.events-container {
    padding-top: 0px
}

.image-holder.left.decors {
    position: relative;
    top: 5rem;
    left: 5rem;
}

.image-holder.right.decors {
    position: relative;
    top: -14rem;
    left: 75rem;
}

@media screen and (max-width: 812px) {

    .info-box-holders {
        border: none;
        box-shadow: none;
    }

    .image-holder {
        position: relative;
    }

    .image-holder img {
        max-width: 100%
    }

    .image-holder.dance-info-lady img {
        position: relative;
        left: 0;
        top: 0;
    }

    .info-box .info-box-inner {
        height: auto;
    }
}

@media screen and (max-width: 992px) {

    .dance-info-lady {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        
        img {
            margin-top: 0;
        }
    }

    #events {
        .events-container {
            .events_column {
                .events_leaf_image {
                        width: 35%;
                        left: 80%;
                        top: 50%;
                    
                    @media screen and (max-width: 400px) {
                        width: 40%;
                        top: 60%;
                    }
                }
            }
        }
    }
} 


@media screen and (min-width:992px) and (max-width: 2100px) {
    .dance-info-lady {
        top: 85px;
    }
}