.alt_content-p2 {
    margin-left: 17%;
    font-size: 16pt;
}

.schedule-info-bottom h5 {
    font-size: 24px;
    color: $maroon;
    font-weight: bolder;
    
     @media screen and (max-width: 500px) {
        font-size: 18pt;
    }
}

.schedule-info-top2 h5,
.schedule-info-top h5 {
    color: $mossgreen;
    font-size: 24px;
    font-weight: bolder;
    
    @media screen and (max-width: 500px) {
    font-size: 18pt;
    }
}

.schedule-info-top2 p,
.schedule-info-top p {
    font-size: 24px;
    color: #000000;
    
    @media screen and (max-width: 500px) {
    font-size: 18pt;
    }
}

#groupsFees {
    overflow: hidden;
}

#biography h1,
#groupsFees .page-heading h1 {
    font-size: 26pt;
    color: $maroon;
    padding-top: 80px;
    
    @media screen and (max-width: 500px) {
    font-size: 20pt;
    }
}

.line-group-add {
    height: 5px;
    background-color: $gold;
}

.section-container {
    position: relative
}

.info-box-holders.no-border {
    border: none;
    border-radius: 0px;
    box-shadow: none
}

.info-box .info-box-inner2 {
    background-color: $maroon;
    padding: 25px;
    border: 2px solid $gold;
    border-radius: 10px;
    color: #ffffff;
    min-height: 190px;
    box-sizing: border-box;
    height: auto;
    font-size: 16pt;
    font-weight: bolder;
    
    @media screen and (max-width: 500px) {
        font-size: 14pt;
    }
}

.info-box .info-box-inner:before {
    /* content: ""; */
    border-top: 1px solid #982649;
    width: 100%;
    padding-bottom: 20px;
    display: block;
    position: relative;
}

.info-box-line {
    border-top: 3px solid $maroon;
    padding: 15px 0;
    text-align: center;
}

.info-box-line h5 {
    font-size: 18pt;
    font-weight: bolder;
}

.info-box-line p {
    font-size: 20px;
    color: #000000;
}

.info-box-inner-alt {
    font-size: 16pt;
    color: #ffffff;
    font-weight: bolder;
    
        @media screen and (max-width: 500px) {
        font-size: 14pt;
    }
}

.image-holder {
    position: relative;
}

.image-holder img {
    max-width: 100%;
}

.image-holder.dance-info-lady img {
    position: relative;
    left: 0px;
    top: 0;
}

#events .events-container {
    top: 0px !important;
    position: relative !important;
}

.events-container {
    padding-top: 0px
}

.schedule-info-top {
    border-bottom: 3px solid $gold;
}

.schedule-info-top2 {
    border-bottom: 3px solid $mossgreen;
}

.image-block img {
    max-width: 100%
}

.intermediate-dancers {
    background-image: url(/master-assets/img/alternative/intermediate_groups_picture_XL.jpg);
    padding-bottom: 35%;
    //background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-position-x: -490px;

    @media (max-width: 979px) {
        background-attachment: initial;
        background-position: center top;
    }
}

.intermediate-dancers:before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    top: 0%;
    left: 0%;
    position: absolute;
}

.gold-block {
    background-color: $gold;
}

.gold-block .info-box {
    padding: 80px;
    text-align: center;
}

.private_lessons_lady {
    height: 50rem;
    margin-left: -5rem;
    margin-bottom: 15rem;

    @media screen and (max-width: 500px) {
    margin-left: -8rem;
    }
}

.adavu_lady {
    padding-right: 10rem;
}

@media screen and (max-width: 768px) {

    .intermediate-dancers {
        background-size: 100%
    }

    .info-box-holders {
        border: none;
        box-shadow: none;
    }

    .image-holder {
        position: relative;
    }

    .image-holder img {
        max-width: 100%
    }

    .image-holder.dance-info-lady img {
        position: relative;
        left: 0;
        top: 0;
    }

    .info-box .info-box-inner {
        height: auto;
        font-size: 1.8rem;
    }
}

