@media screen and (min-width: 320px) {
  .all_buttons {
    cursor: pointer;
    position: relative;
    z-index: 999;
    background-color: $mossgreen;
    color: $white;
    border: 1px solid $mossgreen;
    border-radius: 3px;
    font-size: 1.5rem;
    font-weight: bolder;
    padding: 0.5rem 5rem;
    text-decoration: none;
  }

  .all_buttons::before,
  .all_buttons::after,
  .all_buttons:active {
    box-shadow: -2px 1px 8px $black;
    padding: .3rem 4.8rem;
    color: $white;
    text-decoration: none;
  }

  .all_buttons:hover {
    background-color: transparent;
    color: $mossgreen;
    text-decoration: none;
    border: 2px solid $mossgreen;
  }

  .enroll_button_color--mossgreen {
    padding-top: 3rem;
    text-align: center;
    position: relative;
    z-index: 999;
    cursor: pointer;
  }
}


@media screen and (min-width: 600px) and (max-width: 1200px){
  #class-materials {
      .saturday__button {
        background-color: $mossgreen;
        color: $white;
        border-radius: 3px;
        padding: 1rem 6.5rem;
        display: block;
        width: 100%;
        margin: 2rem -4rem;
        font-size: 1.4rem;
      }
    }
  }

@media screen and (min-width: 1201px) and (max-width: 2100px){
  #class-materials {
      .saturday__button {
        background-color: $mossgreen;
        color: $white;
        border-radius: 3px;
        padding: 1rem 6.5rem;
        display: block;
        width: 120%;
        margin: 2rem auto;
        font-size: 1.7rem;
      }
    }
  }
