.links {
    color: $maroon;
    font-weight: 500;
}

h1.payment-header {
    font-size: 26pt;
    color: #982649;
    padding-top: 70px;
}

.alt_content-p {
    padding-bottom: 20px;
    
    @media screen and (max-width: 500px) {
        margin-left: 0;
    }
}

ul {
    list-style-type: none;
}