@media only screen and (min-width: 320px) {


  #dance-information {
    .dance__information {
      .header-main {
        position: relative;

        .dance__information-sharanya {
          img {
            position: absolute;
            bottom: -10.6rem;
            left: 66%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }

  .dance__information-grid {
    .dance__info-grid {
      .offset-3.dance__info-column {
        position: relative;

        .dance__information-adavu-image {
          img {
            width: 70%;
            position: absolute;
            bottom: 23.5rem;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }

  #biography {
    .biography {
      .header-main {
        position: relative;

        .dance__information-sharanya {
          img {
            position: absolute;
            bottom: -10.6rem;
            left: 66%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 360px) {
  .dance__information-grid {
    .dance__info-grid {
      .offset-3.dance__info-column {

        .dance__information-adavu-image {
          img {
            bottom: 18rem;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 375px) {
  .dance__information-grid {
    .dance__info-grid {
      .offset-3.dance__info-column {

        .dance__information-adavu-image {
          img {
            bottom: 17.1rem;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 411px) {
  #dance-information {
    .dance__information {
      .header-main {
        .dance__information-sharanya {
          img {
            width: 35%;
            bottom: -13rem;
          }
        }
      }
    }

    .dance__information-grid {
      .dance__info-grid {
        .offset-3.dance__info-column {

          .dance__information-adavu-image {
            img {
              bottom: 17.5rem;
            }
          }
        }
      }
    }
  }

  #biography {
    .biography {
      .header-main {
        .dance__information-sharanya {
          img {
            bottom: -13rem;
            width: 35%;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 480px) {
  #dance-information {
    .dance__information {
      .header-main {
        .dance__information-sharanya {
          img {
            bottom: -15.5rem;
          }
        }
      }
    }

    .dance__information-grid {
      .dance__info-grid {
        .offset-3.dance__info-column {

          .dance__information-adavu-image {
            img {
              bottom: 11rem;
            }
          }
        }
      }
    }
  }

  #biography {
    .biography {
      .header-main {
        .dance__information-sharanya {
          img {
            bottom: -15.5rem;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 560px) {
  #dance-information {
    .dance__information {
      .header-main {
        .dance__information-sharanya {
          img {
            bottom: -14rem;
            width: 27%;
          }
        }
      }
    }

    .dance__information-grid {
      .dance__info-grid {
        .offset-3.dance__info-column {

          .dance__information-adavu-image {
            img {
              width: 50%;
              bottom: 14rem;
            }
          }
        }
      }
    }
  }

  #biography {
    .biography {
      .header-main {
        .dance__information-sharanya {
          img {
            bottom: -14rem;
            width: 27%;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 641px) {
  #dance-information {
    .dance__information {
      .header-main {
        .dance__information-sharanya{
          img {
            bottom: -16rem;
          }
        }
      }
    }

    .dance__information-grid {
      .dance__info-grid {
        .offset-3.dance__info-column {

          .dance__information-adavu-image {
            img {
              bottom: 9.5rem;
            }
          }
        }
      }
    }
  }

  #biography {
    .biography {
      .header-main {
        .dance__information-sharanya {
          img {
            bottom: -16rem;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  #dance-information {
    .dance__information {
      .header-main {
        .dance__information-sharanya {
          img {
            bottom: -19rem;
            left: 50%;
          }
        }
      }

      .content-main {
        padding: 0 1rem 30rem 2rem;
      }
    }

    .dance__information-grid {
      .dance__info-grid {
        .offset-3.dance__info-column {
          .dance__information-adavu-image {
            img {
              bottom: 4.3rem;
            }
          }
        }
      }
    }
  }

  #biography {
    .biography {
      .header-main {
        .dance__information-sharanya {
          img {
            bottom: -19rem;
            left: 50%;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  #dance-information {
    .dance__information {
      .header-main {
        .dance__information-sharanya {
          img {
            bottom: -23rem;
            left: 50%;
            width: 25%;
          }
        }
      }
    }

    .dance__information-grid {
      .dance__info-grid {
        .offset-3.dance__info-column {
          .dance__information-adavu-image {
            img {
              width: 37%;
              bottom: 4.3rem;
            }
          }
        }
      }
    }
  }

  #biography {
    .biography {
      .header-main {
        .dance__information-sharanya {
          img {
            bottom: -23rem;
            left: 50%;
            width: 25%;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  #dance-information {
    .dance__information {
      .header-main {
        .dance__information-sharanya {
          img {
            bottom: -23.5rem;
          }
        }
      }
    }

    .dance__information-grid {
      .dance__info-grid {
        .offset-3.dance__info-column {
          .dance__information-adavu-image {
            img {
              width: 35%;
              bottom: 4.8rem;
            }
          }
        }
      }
    }
  }

  #biography {
    .biography {
      .header-main {
        .dance__information-sharanya {
          img {
            bottom: -23.5rem;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1080px) {
  #dance-information {
    .dance__information {
      .header-main {
        .dance__information-sharanya {
          img {
            width: 25%;
            bottom: -25rem;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 1200px) {
  .people__about-sharanya {
    position: relative;

    img {
      display: block;
      width: 20%;
      position: relative;
      left: 88rem;
      bottom: 19rem;
    }
  }

  #dance-information {

    .dance__information {
      .header-main {
        padding-top: 3rem;

        .dance__information-sharanya {
          img {
            width: 28%;
            bottom: -12.5rem;
            left: 87%;
          }
        }
      }
    }

    .dance__information-grid {
      .dance__info-grid {
        .offset-3.dance__info-column {
          .dance__information-adavu-image {
            img {
              width: 181%;
              left: -62%;
              bottom: -34.4rem;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1280px) {
  .people__about-sharanya {
    position: relative;

    img {
      display: block;
      width: 20%;
      position: relative;
      left: 95rem;
      bottom: 19rem;
    }
  }

  #dance-information {
    .dance__information {
      .header-main {
        .dance__information-sharanya {
          img {
            bottom: -14.1rem;

          }
        }
      }
    }

    .dance__information-grid {
      .dance__info-grid {
        .offset-3.dance__info-column {
          .dance__information-adavu-image {
            img {
              bottom: -40.2rem;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1440px) {
  .people__about-sharanya {
    position: relative;

    img {
      display: block;
      width: 17%;
      position: relative;
      left: 105rem;
      bottom: 19rem;
    }
  }

  #dance-information {
    .dance__information {
      .header-main {
        .dance__information-sharanya {
          img {
            bottom: -17rem;
          }
        }
      }
    }
    .dance__information-grid {
      .dance__info-grid {
        .offset-3.dance__info-column {
          .dance__information-adavu-image {
            img {
              bottom: -43rem;
              width: 173%;
            }
          }
        }
      }
    }

  }
}


@media only screen and (min-width: 1535px) {
  .people__about-sharanya {
    position: relative;

    img {
      display: block;
      width: 17%;
      position: relative;
      left: 95rem;
      bottom: 19rem;
    }
  }

  #dance-information {
    .dance__information {
      .header-main {
        .dance__information-sharanya {
          img {
            bottom: -19.1rem;
          }
        }
      }
    }
    .dance__information-grid {
      .dance__info-grid {
        .offset-3.dance__info-column {
          .dance__information-adavu-image {
            img {
              bottom: -46.2rem;
              width: 167%;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1600px) {
  .people__about-sharanya {
    position: relative;

    img {
      display: block;
      width: 13%;
      position: relative;
      left: 117rem;
      bottom: 19rem;
    }
  }

  #dance-information {
    .dance__information {
      .header-main {
        .dance__information-sharanya {
          img {
            left: 74%;
            bottom: -20.1rem;
          }
        }
      }
    }

    .dance__information-grid {
      .dance__info-grid {
        .offset-3.dance__info-column {
          .dance__information-adavu-image {
            img {
              bottom: -61.2rem;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1900px) {
  #dance-information {

    .dance__information {
      .header-main {
        .dance__information-sharanya {
          img {
            bottom: -25.9rem;
            left: 74%;
          }
        }
      }
    }

    .dance__information-grid {
      .dance__info-grid {
        .offset-3.dance__info-column {
          .dance__information-adavu-image {
            img {
              bottom: -73.9rem;
              width: 165%;
            }
          }
        }
      }
    }
  }
}
