@import "abstracts/variables";

@import "base/base";
@import "base/typography";

@import "components/buttons";
@import "components/decor";
@import "components/infoboxes";
@import "components/modal";
@import "components/payments";
@import "components/people";
@import "components/social-links";

@import "layout/about";
@import "layout/enroll";
@import "layout/footer";
@import "layout/navigation";

@import "pages/biography";
@import "pages/class-materials";
@import "pages/contact";
@import "pages/gallery";
@import "pages/home";
@import "pages/schedule";
